<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% block content %}

    {% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <p class="copyright text-muted">&copy; Curso Flask 2018</p>
        </div>
      </div>
    </footer>
  </body>
</html>
