{% macro render_field(field) %}
  <td> {{ field.label }}
  <dd> {{ field(**kwargs)|safe }}

  {% if field.errors %}
    <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
